/* Специально для тёмной темы при наличии класса. */

:root .theme_dark {
  --background-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --cover-color: #db00ff;
  --nav-hover-color: var(--accent-color, #ff0070);
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark :is(.decorated-zone, .content__title) {
  color: var(--accent-color, #ff0070);
}

.theme_dark .title-decor {
  color: var(--background-color, #000028);
}

.theme_dark .decorative-sign {
  display: block;
}
